
.thumbs{
    border: groove black;
    width: auto;
    height: auto;
    margin:0px 0px 30px 29px;
    cursor: pointer;
    
}

.thumbs_active {
    border: groove red;
    width: auto;
    height: auto;
    margin:0px 0px 30px 29px;
    cursor: pointer;
}

#component_carrousel{

}

#thumbs_gallery{
    background-color: rgba(0,0,0,0.4);
    margin: 211px 0px 214px 0px;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 92%;
    border-radius: 18px;
    padding:18px;
}

img {
    width: 86px;
    height: 86px;
    margin-bottom: -5px;
}

#display_foto{

    margin: 0px 8px -169px -77px;
}

#display_foto img {
    
    width: 10em;
    
    object-fit: contain;
    object-position:50% 50%;
    margin: 0px 8px 0px 83px;
    transition: 2.5s;
   
}