.fundo-error-message{
    display: flex;
    justify-content: center;
    align-items: center;
}


.notfoundComponent{
    background-color: rgb(247 247 247);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color:black;
    width: 85%;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    box-shadow:7px 10px 12px 0px black;
} 

a {
    color: black;
}


a:hover{
    color:gold;
}

p {
    margin-top:60px;
}