.footer{
    background-color: black;
    color:white;
    text-align: center;
}

p{
    user-select: none;
}

@media screen and (max-width:187px){

    .footer{
        background-color: black;
        color:white;
        text-align: center;
    }
}