<div class="grid-fundo-inicial">
    <div class="area-tooltip">
        <div *ngFor="let tips of stackArray">
               <ng-template *ngif="tips.tooltipType == 'right'">
                    <tooltip-right *ngIf="tips.tooltip" [TooltipType]="tips.tooltipType" [idElemento]="tips.id" [TextoTooltip]="tips.descriptionTooltip" [hover]="tips.active"></tooltip-right>
               </ng-template>

               <ng-template *ngif="tips.tooltipType == 'left'">
                    <tooltip-left *ngIf="tips.tooltip" [TooltipType]="tips.tooltipType" [idElemento]="tips.id" [TextoTooltip]="tips.descriptionTooltip" [hover]="tips.active"></tooltip-left>
               </ng-template>
            <tooltip-stack-component *ngIf="tips.tooltip" [TooltipType]="tips.tooltipType" [idElemento]="tips.id" [TextoTooltip]="tips.descriptionTooltip" [hover]="tips.active"></tooltip-stack-component>
        </div>
    </div>
    <div class="area-boas-vindas">
        <div id="area-foto">
            <div *ngFor="let stack of stackArray" class="flex-stack">
                <img (mouseover)="stack.active = true" (mouseout)="stack.active = false" [id]="stack.id" [class]="stack.class" [src]="stack.fotoStack">
            </div>
            <!--
            <div class="flex-stack">
                <tooltip-stack-component [hover]="true"></tooltip-stack-component>
                <img id="img-angular" class="base-logo-stack img_angular stack-bottom" src="../../../assets/stacks/angular.png">
            </div>
            <div class="flex-stack">
                <tooltip-stack-component></tooltip-stack-component>
                <img id="img-dotnet" class="base-logo-stack img_dotnet stack-up" src="../../../assets/stacks/dotnet.png">
            </div>
            <div class="flex-stack">
                <img class="img-foto" src="../../../assets/foto_perfil/foto_perfil.jpg">
            </div>
            <div class="flex-stack">
                <tooltip-stack-component></tooltip-stack-component>
                <img id="img-html" class="base-logo-stack img_html stack-up" src="../../../assets/stacks/html5.png">
            </div>
            <div class="flex-stack">
                <tooltip-stack-component></tooltip-stack-component>
                <img id="img-css" class="base-logo-stack img_css stack-bottom" src="../../../assets/stacks/css3.png">
            </div>
            -->
           
        </div>
        <div id="area-content">
            <div  [innerHTML]="'telainicial.mensagem-inicial' | translate" class="painel-boas-vindas"></div>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <div></div>
</div>