.grid-fundo-inicial 
{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 23vh auto 23vh;
    /*position: relative;*/

}

.img-foto
{
    box-shadow: 6px 11px 25px 2px black;
    border-radius: 100px;
    /* margin-bottom: -101px; */
    z-index: 1;
    margin: -110px 0px 1px 159px;
    position: absolute;
}

.painel-boas-vindas {
    background-color: #cac9c9;
    height: auto;
    border-radius: 28px;
    font-size: 16pt;
    z-index: 0;
    position: relative;
    border: 9px solid gray;
    padding: 46px;
    width: 517px;
    height: auto;
    margin: 50px 0px 0px 0px;
}
    


.area-boas-vindas{
    display: flex;
}

.base-logo-stack{
    width: 112px;
    height: 112px;
    position: absolute;
    border-radius: 100px;
    transition: 0.9s;
}

.base-logo-stack:hover {
    width: 116px;
    height: 116px;
    transition: 0.9s;
    position: absolute;
    border-radius: 100px;
    transition: 0.9s;
}

#img-angular.base-logo-stack:hover {
    box-shadow: 5px 5px 9px 1px red;
}

#img-dotnet.base-logo-stack:hover {

    box-shadow: 5px 5px 9px 1px #9b4f96;
}

#img-html.base-logo-stack:hover {
    box-shadow: 5px 5px 9px 1px #f16524;
}

#img-css.base-logo-stack:hover {
    box-shadow: 5px 5px 9px 1px #339bff;
}


/*
.base-logo-stack:hover{
    width: 116px;
    height: 116px;
    position: absolute;
    box-shadow: 5px 5px 9px 1px black;
    border-radius: 100px;
    transition: 0.9s;
}
*/

.img_angular {
    margin: -103px 0px 0px -17px;
}

.img_dotnet {
    margin: -28px 0px 0px 436px;
    z-index: 1;
}

.img_html {
    margin: 228px 0px 0px -123px;
}

.img_css {
    margin: 284px 0px 0px 472px;
    z-index: 1;
}





@media screen and (max-width:700px) and (orientation:portrait){
    
    .img_dotnet {
        margin: -167px 0px 0px 224px;
        z-index: 1;
    }

    .img_css {
        margin: 171px 0px 0px 225px;
        z-index: 1;
    }

    .img_html{
        margin: 122px 0px 0px -186px;
        z-index: 1;
    }

    .img_angular {
        margin: -207px 0px 0px -170px;
    }
    
    
    .area-boas-vindas {
        margin: 0px 0px 0px 100px;
    }

    .grid-fundo-inicial 
    {
        grid-template-rows: 39vh auto 23vh;
    }

    .img-foto {
        width: 138px;
        height: 138px;
        margin: -173px 0px 0px 2px;
    }

    .painel-boas-vindas {
        width: 460px;
        font-size: 12pt;
        margin: -70px 0px 0px -154px;
       
    }

    
    
}

@media screen and (max-width:500px)and (orientation:portrait){

    .base-logo-stack{
        width: 90px;
        height: 90px;
    }

    .base-logo-stack:hover{
        width: 95px;
        height:  95px;
    }



    .img_dotnet {
        margin: -167px 0px 0px 169px;
        z-index: 1;
    }

    .img_css {
        margin:136px 0px 0px 197px;
        z-index: 1;
    }

    .img_html{
        margin: 99px  0px 0px -138px;
        z-index: 1;
    }

    .img_angular {
        margin: -207px 0px 0px -109px;
    }
    



    .img-foto {
        width: 138px;
        height: 138px;
        margin-bottom: -101px;
    }

    .painel-boas-vindas {
        width: 379px;
        font-size: 10pt;
        margin: -70px 0px 0px -116px;
       
    }

}

@media screen and (max-width:400px)and (orientation:portrait){

    .base-logo-stack{
        width: 61px;
        height: 61px;
    }

    .base-logo-stack:hover{
        width: 66px;
        height: 66px;
    }


    .img_dotnet {
        margin: -115px 0px 0px 154px;
        z-index: 1;
    
    }

    .img_css {
        margin: 224px 0px 0px 173px;
        z-index: 1;
    }

    .img_html{
        margin: 181px 0px 0px -115px;
        z-index: 1;
    }

    .img_angular {
        margin: -207px 0px 0px -110px;
    }
    
    .painel-boas-vindas {
        width: 344px;
       
        margin: -56px 0px 0px -105px;
    } 

}

@media screen and (max-width:350px)and (orientation:portrait){
    .img_dotnet {
        margin: -82px 0px 0px 94px;
        z-index: 1;
    }

    .img_css {
        margin: 238px 0px 0px 99px;
        z-index: 1;
    }

    .img_html{
        margin:278px 0px 0px -96px;
        z-index: 1;
    }

    .img_angular {
        margin: -123px 0px 0px -91px;
    }

    .base-logo-stack{
        width: 60px;
        height: 60px;
    }

    .base-logo-stack:hover{
        width: 65px;
        height: 65px;
    }
    .img-foto {
        width: 90px;
        height: 90px;
        /* margin-bottom: -224px; */
        margin: -119px 0px 0px -7px;
    }

    .painel-boas-vindas {
        width: 246px;
        margin:-56px 0px 0px -84px;
    }

}