.grid-fundo-inicial 
{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 23vh auto 23vh;
    grid-template-columns: 1fr;
    /*position: relative;*/

}

.img-foto
{
    box-shadow: 6px 11px 25px 2px black;
    border-radius: 100px;
    z-index: 1;
    width: 188px;
    position: relative;
}

.painel-boas-vindas {
    background-color: #cac9c9;
    height: auto;
    border-radius: 28px;
    font-size: 16pt;
    z-index: 0;
    position: relative;
    border: 1px solid gray;
    padding: 46px;
    width: 70%;
    height: auto;
    text-align: center;
}

 #area-foto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 }
 
.area-boas-vindas .flex-stack , .area-boas-vindas #area-content {
    display: flex;
    justify-content: center;
    user-select: none;

}

.base-logo-stack{
    width: 112px;
    height: 112px;
    position:relative;
    z-index:1;
    border-radius: 100px;
    transition: 0.9s;
}

.base-logo-stack:hover {
    width: 116px;
    height: 116px;
    transition: 0.9s;
    border-radius: 100px;
    transition: 0.9s;
}

#img-angular.base-logo-stack:hover {
    box-shadow: 5px 5px 9px 1px red;
}

#img-dotnet.base-logo-stack:hover {

    box-shadow: 5px 5px 9px 1px #9b4f96;
}

#img-html.base-logo-stack:hover {
    box-shadow: 5px 5px 9px 1px #f16524;
}

#img-css.base-logo-stack:hover {
    box-shadow: 5px 5px 9px 1px #339bff;
}





#img-angular.base-logo-stack.animation {
    box-shadow: 5px 5px 9px 1px red;
}

#img-dotnet.base-logo-stack.animation {

    box-shadow: 5px 5px 9px 1px #9b4f96;
}

#img-html.base-logo-stack.animation {
    box-shadow: 5px 5px 9px 1px #f16524;
}

#img-css.base-logo-stack.animation {
    box-shadow: 5px 5px 9px 1px #339bff;
}


.stack-bottom {
    margin: 66px 0px 0px 0px;
}

.stack-up {
    margin: 30px 0px 0px 0px;
}

.area-tooltip{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 100%;
}

/*
.base-logo-stack:hover{
    width: 116px;
    height: 116px;
    position: absolute;
    box-shadow: 5px 5px 9px 1px black;
    border-radius: 100px;
    transition: 0.9s;
}


.img_angular {
    margin: -103px 0px 0px -17px;
}

.img_dotnet {
    margin: -28px 0px 0px 436px;
    z-index: 1;
}

.img_html {
    margin: 228px 0px 0px -123px;
}

.img_css {
    margin: 284px 0px 0px 472px;
    z-index: 1;
}


*/


@media screen and (max-width:700px) and (orientation:portrait){
    .base-logo-stack{
        width: 90px;
        height: 90px;
        position:relative;
        z-index:1;
        border-radius: 100px;
        transition: 0.9s;
    }
    
    .base-logo-stack:hover {
        width: 96px;
        height: 96px;
        transition: 0.9s;
        border-radius: 100px;
        transition: 0.9s;
    }
    
}

@media screen and (max-width:519px)and (orientation:portrait){

    .img-foto{
        width:149px;
    }
    
    .base-logo-stack{
        width: 65px;
        height: 65px;
        position:relative;
        z-index:1;
        border-radius: 100px;
        transition: 0.9s;
    }
    
    .base-logo-stack:hover {
        width: 70px;
        height: 70px;
        transition: 0.9s;
        border-radius: 100px;
        transition: 0.9s;
    }
    

    .stack-bottom {
        margin: 66px 0px 0px 0px;
    }
    
    .stack-up {
        margin: 30px 0px 0px 0px;
    }
}

@media screen and (max-width:400px)and (orientation:portrait){

    .painel-boas-vindas {
        font-size: 8pt;
    }

    .img-foto{
        width: 108px;
        height: 108px;
    }
    
    .base-logo-stack{
        width: 50px;
        height: 50px;
        position:relative;
        z-index:1;
        border-radius: 100px;
        transition: 0.9s;
    }
    
    .base-logo-stack:hover {
        width: 55px;
        height: 55px;
        transition: 0.9s;
        border-radius: 100px;
        transition: 0.9s;
    }
    

    .stack-bottom {
        margin: 66px 0px 0px 0px;
    }
    
    .stack-up {
        margin: 30px 0px 0px 0px;
    }
   
}

@media screen and (max-width:325px)and (orientation:portrait){

    .painel-boas-vindas {
        font-size: 8pt;
    }


    .img-foto{
        width: 80px;
        height: 80px;
        margin: 26px 0px 0px 0px;
    }
    
    .base-logo-stack{
        width: 40px;
        height: 40px;
        position:relative;
        z-index:1;
        border-radius: 100px;
        transition: 0.9s;
    }
    
    .base-logo-stack:hover {
        width: 45px;
        height: 45px;
        transition: 0.9s;
        border-radius: 100px;
        transition: 0.9s;
    }
    

    .stack-bottom {
        margin: 66px 0px 0px 0px;
    }
    
    .stack-up {
        margin: 50px  0px 0px 0px;
    }

}