<div class="app">
  <div class="header">
    <div class="area_btns">
      <a class="link_menu">Pagina Inicial</a>
      <a class="link_menu">Meus Projetos</a>
      <a class="link_menu">Contato</a>
    </div>
    <div class="area_logo">
        <div class="foto_perfil"> </div>
    </div>
  </div>
  <div class="bread_crumb">
      bread crumb 
  </div>
  <div class="corpo">
  asdasdsa
  </div>
  <div class="footer">
    <p>Pedro Vinicius Rodrigues Furlan &copy; Todos os direitos Resevados</p>
  </div>
</div>

<!--
  <router-outlet></router-outlet>
  <button class="btn-up" matTooltip="Subir  para o topo" (click)="scrollToTop()" *ngIf="buttonVisible" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>

-->










