<div class="app">
  <menu-principal></menu-principal>
  <div class="corpo">
    <!-- <main #componentMainAnimation [@routeAnimations]="prepareRoute(outlet)">  </main>--> 
      <!-- <router-outlet #outlet="outlet"></router-outlet> --> 
      <router-outlet></router-outlet>
    <button (click)="scrollToTop()" *ngIf="this.buttonVisible" class="btn-up"> 
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
  <div class="footer">
     <footerApp></footerApp>
  </div>
</div>

<!--
  <router-outlet></router-outlet>
  <button class="btn-up" matTooltip="Subir  para o topo" (click)="scrollToTop()" *ngIf="buttonVisible" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>

-->










