<div class="app">
  <menu-principal></menu-principal>
  <div class="corpo">
    <router-outlet></router-outlet>
    <button (click)="scrollToTop()" *ngIf="this.buttonVisible" class="btn-up"> Subir </button>
  </div>
  <div class="footer">
     <footerApp></footerApp>
  </div>
</div>

<!--
  <router-outlet></router-outlet>
  <button class="btn-up" matTooltip="Subir  para o topo" (click)="scrollToTop()" *ngIf="buttonVisible" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>

-->










