<div id="container-contact">
    
    <div id="form-contact">
        <div  class="header">
            <br/>
            Gostou do que viu ? <br/><br/>
            Entre em contato para dar um feedback ou fazer um orçamento , sua opinião vale ouro ;)
        </div>
        <div>
            <br/>
            <form [formGroup]="_FormContato">
                <div id="area_email">
                    <label class="custom-control-label" for="email_cmp">E-mail :</label> 
                    <input class="form-control" id="email_cmp" formControlName="email" type="email" placeholder="Ex: teste_teste@hotmail.com"/>    
                </div>
                <br/><br/>
                <div id="area_comment">
                    <label class="custom-control-label" for="comment_area">Comentario : </label>
                    <textarea class="form-control" id="comment_area"  formControlName="mensagem"  placeholder="Seu comentario"></textarea>
                </div>
               <div id="area_btn_sbmt">   
                   <button class="btn btn-success" type="submit" >Enviar</button> &nbsp;&nbsp;
                   <button class="btn btn-danger" type="reset"> Limpar</button>
               </div>
            </form>
        </div>
    </div>


</div>
    
    
  