.main-tooltip{
    display: inline-grid;
    grid-template-rows: auto auto;
    position: absolute;
    justify-items: center;
    top: 110px;
}

.main-tooltip.hide {
    display: none;
}

.tooltip-stack {
   
    background-color: darkgray;
    border-radius: 9px;
    padding: 9px;
    z-index: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 2;
    border-left: 20px solid darkgray;
  }
  

@media screen and (max-width:700px) and (orientation:portrait){

    .main-tooltip{
        font-size: 7pt;
        top: 425px;
    }


}

@media screen and (max-width:519px) and (orientation:portrait){

    .main-tooltip{
        font-size: 7pt;
        top: 425px;
    }

    
}

@media screen and (max-width:400px) and (orientation:portrait){
    .main-tooltip{
        font-size: 7pt;
        top: 91px;
    }

}

@media screen and (max-width:325px) and (orientation:portrait){
    .main-tooltip{
        font-size: 7pt;
        top: 425px;
    }    
}