

.tooltip-stack {
    position: absolute;
    background-color: darkgray;
    border-radius: 9px;
    padding: 9px;
    z-index: 2;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid darkgray;
    margin: 38px 0px 0px 30px;
    position: absolute;
    z-index: 2;
  }