#form-login
{
    width: 50%;
    height: 351px;
    background-color: lightgray;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    transform: translate(50%, 12%);
   
}

#sbmButton {
    background-color: black;
    color:white;
    margin: 0px 0px 12px 0px;
}

.title {
    font-size: 26px;
    margin: 0px 0px 0px 0px;
    font-family: fantasy;
}

.title-content{
    display: -webkit-inline-box;
    margin-top: 33px;
}