<!--
<mat-card class="card-base">
    <div class="img-card">
        <img mat-card-image [src]="urlFoto">
    </div>
    <mat-card-content>
    <p [innerHTML]="description"></p>
  </mat-card-content>
  <mat-card-actions>

    <button  matTooltip="Ver detalhamento do projeto" (click)="gotoDetailProject(idProjeto)" mat-button> Detalhes do Projeto </button>
    
    <button  matTooltip="Ver fotos do projeto"  mat-button>Galeria de fotos</button>
    <button  matTooltip="Ver História do projeto" mat-button>Historia </button>

  </mat-card-actions>
</mat-card>
-->
