.card-custom-work-presentation {
    height: 327px;
    background-color:rgb(247 247 247);
    display: grid;
    transition :0.5s;
    grid-template-rows: auto auto auto;
    user-select: none;
}


.card-custom-work-presentation:hover {
    box-shadow: 3px 4px 10px 1px black;
    transition :0.5s;
}

.bottom-card{
    background-color:rgb(234 234 234);
    display: flex;
    justify-content: center;
}

.bottom-card > button{
    width: 90px;
    height: auto;
    align-self: center;
    font-size: 10pt;
}

.descritivo-card{
    text-align: center;
}

.img_card > img{
    max-width: 100%;
}