
.content-grid-loading{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
    user-select: none;
}

.content-grid-loading > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-grid-loading > div > img
{
    width: 22%;
}