div#container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


form {
    padding: 8px;
    background-color: #c2c0c0;
    width: 40%;
    height: 73%;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  17vh  1fr 1fr 1fr;
    border-radius: 0px 36px 0px 36px;
}


#title-area {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: fantasy;
    user-select: none;
}

.bottom-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-area > div{
    width: 84%;
    height: 66px;
    background-color: black;
    color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width:426px){
    form {
       
        width: 70%;
        height: 349px;
       
    }
}


@media screen and (max-width:376px){
    form {
       
        width: 80%;
        height: 337px;
       
    }
}